#title {
    font-size: 65px;
    margin-bottom: 0px;
}
#caption {
    color: #8692A0;
}
#wrapper {
    text-align: center;
    padding-bottom: 30px;
    white-space: nowrap;
    min-height: 50%
}
.oddRow {
    background-color: #445056;
}
.evenRow {
    background-color: #242A2D;
}
.row {
    padding-top: 15px;
    padding-bottom: 15px;
}
.projectDesc {
    font-size: 16px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.projectLinks {
    font-size: 22px;
}