/* Global Stylesheet */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
* {
    font-family: "Didact Gothic";
    color: #E4E4E6;
}
body {
    background-color: #131B1F;
}
a {
    color: #4AA2E9;
}
a:hover {
    text-decoration: none;
    color: #0A76D0;    
}
.navbar a {
    color: #8692A0 !important;
}
.navbar a:hover {
    color: #4AA2E9 !important;
}
.navbar-inverse {
    background-color: transparent;
    border: none;
    font-size: 20px;
    text-align: right;
}
#footer {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
}
.navbar-toggle {
    background-color: transparent !important;
    border-color: transparent !important;
}
.navbar-toggle:hover {
    background-color: transparent !important;
    border-color: transparent !important;
}
.navbar-brand {
    font-size: 25px;
    font-weight: bold;
}