/* Global Stylesheet */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
* {
    font-family: "Didact Gothic";
    color: #E4E4E6;
}
body {
    background-color: #131B1F;
}
.navbar {
    text-align: right;
}
.navbar a {
    color: #8692A0 !important;
}
.navbar a:hover {
    color: #4AA2E9 !important;
}
.navbar-inverse {
    background-color:transparent;
    border: none;
    font-size: 20px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
}
.navbar-toggle {
    background-color: transparent !important;
    border-color: transparent !important;
}
.navbar-toggle:hover {
    background-color: transparent !important;
    border-color: transparent !important;
}