@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Exo+2');
* {
    font-family: "Quicksand";
}
body {
    background-color: #131B1F;
}
#title {
    font-family: "Comic Sans MS";
    font-size: 4.5em;
    margin-bottom: 0px;
}
#wrapper {
    position: absolute;
    top: 25%;
    left: 25%;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    border-radius: 10px;
    padding-bottom: 30px;
    color: #E4E4E6;
}
#projects a {
    text-decoration: none;
    color: #8692A0;
}
#projects a, #projects p {
    text-decoration: none;
    font-size: 1.7em;
}
#projects a:hover {
    color: #4AA2E9;
}
nav {
    border-radius: 10px;
    list-style-type: none;
    padding: 10px;
    padding-top: 25px;
    text-align: right;
    font-size: 1.2em;
    color: #8692A0;
    font-size: 1.5em;
}
nav a {
    text-decoration: none;
    color: #8692A0;
}
nav a:hover {
    color: #4AA2E9;
}