body{
    text-align: center;
    background-color: #46b9ea;
    font-family: "Ubuntu", sans-serif;
}
input {
    background-color: #0794D1;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    height: 40px;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
}
#score, #lives {
    background-color: #0794D1;
    border: none;
    border-radius: 10px;
    margin: 10px auto;
    width: 100px;
    height: 20px;
    white-space: nowrap;
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline-block;
}
#menuTitle {
    font-size: 50px;
    margin-top: 200px;
    margin-bottom: 30px;
}
#buttonWrapper {
    position: relative;
    top: 10px;
}
#game {
    position: relative;
    border: 1px solid black;
    height: 650px;
    width: 600px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}
#frog{
    position: absolute;
    /*background-color: #46b9ea;*/
    height:40px;
    width:40px;
    left:280px;
    top:605px;
    background-image: url("resources/small.png");
}
#menu {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(70,185,234);
}
#flyRow{
    background-color: gray;
}
.lanes, .streams, .safeSpot, #flyRow{
    position: absolute;
    width: 600px;
    height: 50px;
}
.cars{
    position: absolute;
    width: 75px;
    height: 45px;
    background-color: red;
    top: 0px;
    left: 0px;
}
.lane2, .lane4{
    background-image: url("resources/car.png");
}
.lane5, .lane3, .lane1{
    background-image: url("resources/car2.png");
}
.logs{
    position: absolute;
    background-color: brown;
    left: 0px;
    width: 99px;
    height: 50px;
    top: 0px;
    background-image: url("resources/log.png");
}
.logs2{
    position: absolute;
    background-color: brown;
    left: 0px;
    width: 200px;
    height: 50px;
}

.lanes{
    background-color: black;
    height: 48px;
    border: 1px dashed #ffff66;
    border-left: 0;
    border-right: 0;
}

.streams{
    background-color: skyblue;
}

.safeSpot{
    background-color: gray;
}

#timer {
    width: 1000px;
    height: 25px;
    background-color: #000080;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}

.objective {
    top: 0;
    width: 50;
    height: 50;
    position: absolute;
    background-color: skyblue;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
#instructions{
    font-size: 20px;
}
.settingsButtons, .backButtons, #credits, #instructions, #resetButton {
    display: none;
}
.settingsButtons, .backButtons, .menuButtons, .backButtons, #resetButton, #menuTitle, #score, #lives, #credits, #instructions {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
